#Contact {
  // background: #412722;
  background: rgb(22, 22, 22);
  
  flex-direction: row;
  padding: 70px 30px;
  height: 60vh;

  .custom-contact-info {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    
    #Icono{
      height: 50px;
      width: 100%;
      display: inline-table;

      img{
        padding-right: 10px;
      }
    }
  }

  .custom-contact-title {
    font-size: 20px;
    font-weight: bold;
  }

  .custom-contact-location {
    text-align: left;
    font-size: 14px;
  }
}
