.custom-block-contact {
  background: rgb(15, 12, 13);
}

#Contact {
  background: rgb(15, 12, 13);
  height: 60vh;
  padding: 70px 70px;
  flex-direction: row;

  .custom-contact-info {
    flex: 1;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    #Icono {
      height: auto;
      width: 100%;
      gap: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      img {
        height: 40px;
      }
    }
  }

  .custom-contact-title {
    font-size: 23px !important;
    font-weight: bold;
  }

  .custom-contact-location {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    span {
      text-align: left;
    }
  }
}

@media only screen and (max-width: 768px) {
  #Contact {
    height: auto;
    padding: 50px 10px;
    gap: 10px;
    align-items: stretch;
  }
}
