.custom-block-contact {
  background: #0d0d0d;
}

#Contact {
  background: rgb(22, 22, 22);

  flex-direction: row;
  padding: 70px 70px;
  height: 60vh;

  .custom-contact-info {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    #Icono {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-end;

      img {
        height: 40px;
        width: 40px;
        margin-left: 10px;
      }
    }
  }

  .custom-contact-title {
    font-size: 20px;
    font-weight: bold;
  }

  .custom-contact-location {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    span {
      text-align: left;
    }
  }
}
