#Contact {
  background: #412722;
  flex-direction: row;
  padding: 70px 30px;

  .custom-contact-info {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .custom-contact-title {
    font-size: 20px;
    font-weight: bold;
  }

  .custom-contact-location {
    text-align: left;
    font-size: 14px;
  }
}
