.custom-home-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw !important;
}

#Home {
  #Section1 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../../../assets/images/HomeWallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #Section3 {
    flex-direction: column;
    .custom-subtitle-span {
      color: gray;
    }

    .custom-service-card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 400px;
      height: 200px;
      border: 1px solid black;
    }

    .custom-img-service-card {
      height: 60px;
      width: 60px;
      background: gray;
    }

    .custom-service-card-img {
      height: 100%;
      background: blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    .custom-content-card-service {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}
