.custom-home-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw !important;
}

#Home {
  #Section1 {
    margin: 0 !important;
    // background-image: linear-gradient(
    //     to right,
    //     rgba(0, 0, 0, 0.5),
    //     rgba(0, 0, 0, 0.5)
    //   );
      // url(../../../assets/images/BackGrounds/BG_Principal.mp4);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    video {
      position:fixed;
      height: auto;
      z-index: -100;
    }
  }

  #Section2,
  #Section3,
  #Section4,
  #Section5 {
    background: #0d0d0d;
  }
}
