#Home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -10;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
