.custom-ProductsServices-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw !important;
  background: rgb(15, 12, 13);
}

#ProductsServicesLanding {
  .custom-content-section {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url("../../../assets/images/Services&Productos_Images/Banner_S&P_Intelecto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
  }

  .custom-title-span {
    margin: 0;
  }

  #ProductsServicesSection1 {
    background: rgb(15, 12, 13);
    margin: 50px 0;
    height: auto;

    // .custom-row {
    //   background: green;
    //   border: 1px solid yellow;
    // }

    .custom-video-container {
      height: auto;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      .video {
        border-radius: 5px;
      }
    }
    .custom-image-container {
      // background-image: url("../../../assets/images/Services&Productos_Images/CRM_Intelecto_Imagen.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;

      height: 350px;
      width: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .custom-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .custom-subtitle-span {
        width: 90%;
      }
    }

    .custom-card-container {
      margin-top: 50px;
      flex-wrap: wrap;
    }

    .custom-card {
      flex: 1;

      &:hover {
        transform: scale(1.06, 1.06);
      }
    }

    .custom-card-img {
      height: 110px !important;
      width: 180px !important;
      margin-right: 20px;
      // backdrop-filter: blur(5px) saturate(100%);
      // -webkit-backdrop-filter: blur(5px) saturate(100%);
      // background-color: rgba(17, 25, 40, 0.6);
      border: 5px solid rgb(0, 175, 239);
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: center;
    }

    .custom-card-container {
      flex-wrap: wrap-reverse;
    }

    .custom-title-span {
      width: 90%;
      text-align: center;
    }
    
    .custom-subtitle-span {
      text-align: justify;
    }
  }
}
