.custom-ProductsServices-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw !important;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../../assets/images/BackGrounds/contact.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#ProductsServicesLanding {
  .custom-content-section {
    justify-content: space-between;
  }

  .custom-header-content {
    margin-top: 100px;
  }

  .custom-title-span {
    margin: 0;
  }

  #ProductsServicesSection1 {
    height: auto;

    .custom-row {
      background: rgb(22, 22, 22);
      box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
      width: 1060px;
      height: 100%;
      padding: 30px !important;
      margin: 40px 100px;
      align-items: stretch;
    }

    .custom-image-container {
      background-repeat: no-repeat;
      background-size: cover;
      height: 350px;
      width: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .CRM {
      background-image: url("../../../assets/images/Services&Productos_Images/CRM_Intelecto_Imagen.jpg") !important;
    }
    .DESARROLLO {
      background-image: url("../../../assets/images/Services&Productos_Images/Imagen_Desarrollo_Intelecto.jpg") !important;
    }
    .INFRAESTRUCTURA {
      background-image: url("../../../assets/images/Services&Productos_Images/Infraestructura_Imagen_Intelecto.jpg") !important;
    }

    .custom-content {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .custom-title-span,
      .custom-subtitle-span {
        width: 94%;
      }
    }
  }

  .own-products {
    background: rgb(15, 12, 13);
    padding: 100px 0 !important;

    .custom-header-content {
      margin: 0;
      justify-content: center;
    }
  }

  .custom-card-container {
    margin-top: 50px;
    flex-wrap: wrap;
  }

  .custom-card {
    flex: 1;
    cursor: pointer;

    &:hover {
      transform: scale(1.06, 1.06);
    }
  }

  .custom-card-img {
    height: 150px !important;
    width: 150px !important;
    backdrop-filter: blur(5px) saturate(100%);
    -webkit-backdrop-filter: blur(5px) saturate(100%);
    background: white;
    border: 3px solid rgb(0, 175, 239);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }

  .custom-title-span {
    text-align: center;
  }

  .custom-subtitle-span {
    text-align: justify;
  }
}
