#ServiceProduct {
  background: rgb(15, 12, 13);

  .custom-card-container {
    flex-wrap: wrap;
    gap: 30px;
  }

  .custom-card {
    background: lighten($color: #161616, $amount: 4);
    border-radius: 5px;
    width: 650px;
    height: 190px;
    padding: 0 20px !important;
    flex-direction: row;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.06, 1.06);
    }
  }

  .custom-card-img {
    height: 130px !important;
    width: 130px !important;
    margin-right: 20px;
    border-radius: 0;
    border: none;

    img {
      height: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  #ServiceProduct {
    height: auto;
    padding: 50px 0;
    gap: 50px;

    .custom-card {
      width: 90%;
    }

    .custom-card-value {
      font-size: 20px !important;
    }

    .custom-card-img {
      margin: 0 !important;
    }

    .custom-card-content {
      flex: 1 !important;
      align-items: center;
    }

    .custom-card-container {
      gap: 20px;
    }

    .custom-card-detail {
      display: none;
    }
  }
}
