#ServiceProduct {
  background: rgb(15, 12, 13);

  .custom-title-span {
    margin: 0;
  }

  .custom-card-container {
    flex-wrap: wrap;
  }

  .custom-card {
    background: rgb(22, 22, 22);
    width: 45%;
    max-width: 45%;
    height: auto;
    padding: 20px !important;
    margin: 0 !important;
    margin-bottom: 15px !important;
    border-radius: 5px;
    flex-direction: row;
  }

  .custom-card {
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.06, 1.06);
    }
  }

  .custom-card-img {
    background: rgb(22, 22, 22);
    height: 130px !important;
    width: 130px !important;
    margin-right: 20px;
    border-radius: 5px;
    border: none;
  }
}
