#ServiceProduct {
  background: #0d0d0d;

  .custom-card-container {
    flex-wrap: wrap;
  }

  .custom-card {
    background:lighten($color: #0d0d0d, $amount: 30);
    width: 45%;
    max-width: 45%;
    height: auto;
    padding: 20px !important;
    margin: 0 !important;
    margin-bottom: 15px !important;
    border-radius: 5px;
    flex-direction: row;
  }

  .custom-card-img {
    height: 130px !important;
    width: 130px !important;
    margin-right: 20px;
    border-radius: 5px;
    border: none;
  }
}
