@import "../../../styles/styles.scss";

.custom-navbar {
  width: 100%;
  height: 90px;
  padding: 0 50px;

  background-color: rgb(15, 12, 13);
  color: rgb(0, 175, 239);
  font-weight: 500;
  font-size: 20px;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  // position: absolute;
}

.custom-navbar-brand {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    color: rgb(0, 175, 239);
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .custom-logo-container {
    background-image: url("../../../assets/images/intelecto_blanco.png");
    height: 100%;
    width: 100%;
  }
}

.custom-navbar-options {
  height: 100%;
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    font-size: 20px;
    color: rgb(0, 175, 239);
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
