@import "../../../styles/styles.scss";

.custom-navbar {
  width: 100%;
  height: 90px;

  backdrop-filter: blur(2px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
  background-color: rgba(13, 13, 13, 0.5);
  border-bottom: 1px solid #05c7f2;

  color: #05c7f2;
  font-weight: 500;
  font-size: 20px;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.custom-navbar-brand {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    color: #05c7f2;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
  .LOGO{
    background-image: url("../../../assets/images/intelecto_blanco.png");
    width: 255px;
    height: 90px;
  }
}

.custom-navbar-options {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & a {
    font-size: 20px;
    color: #05c7f2;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
