@import "../../../styles/styles.scss";

#custom-navbar {
  background: rgb(15, 12, 13);
  width: 100%;
  height: 90px;
  padding: 0 50px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;

  .brand {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .options {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: rgb(0, 175, 239);
      font-size: 22px;
      font-weight: 600;
      text-decoration: none !important;

      &:hover {
        color: white;
      }
    }

    .change-lenguage {
      all: unset;
      color: rgb(15, 12, 13);
      background: rgb(0, 175, 239);
      padding: 10px;
      border-radius: 100px;
      font-size: 18px;
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: 768px) {
  #custom-navbar {
    height: auto;
    padding: 10px 0;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;

    .brand {
      justify-content: center;
      img {
        height: 60px;
      }
    }

    .options {
      height: auto;
      justify-content: space-evenly;
      gap: 5px;
    }
  }
}
