@import "../../../styles/styles.scss";

.custom-navbar {
  width: 100%;
  height: 70px;
  background: rgba($color: black, $alpha: 0.4);
  color: #05C7F2;
  font-weight: 500;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.custom-navbar-brand {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    color: #05C7F2;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.custom-navbar-options {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & a {
    color: #05C7F2;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
