#Partners {
  // background: lighten($color: #0d0d0d, $amount: 10);
  background: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;

  .custom-content-section {
    height: 180px;
    flex-direction: row;
  }

  .custom-image-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .custom-image-content {
    width: 130px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100%;
  }
}
