.custom-about-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw !important;
  background: #0d0d0d;
}

#About {
  .custom-content-section {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url("../../../assets/images/BackGrounds/BG_AboutUs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .custom-title-span {
    margin: 0;
  }

  #AboutSection1 {
    background: #0d0d0d;
    margin: 50px 0;
    height: auto;

    .custom-row {
      height: 100%;
      width: 100%;
      padding: 30px 70px !important;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }

    .custom-image-container {
      background: white;
      border-radius: 100%;

      height: 250px;
      width: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .custom-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .custom-card-container {
      margin: 100px 0 50px 0;
    }

    .custom-card-container {
      flex-wrap: wrap;
    }

    .custom-card {
      background: lighten($color: #0d0d0d, $amount: 30);
      width: 40%;
      max-width: 40%;
      height: auto;
      padding: 20px !important;
      margin: 0 !important;
      margin-bottom: 40px !important;
      border-radius: 5px;
      flex-direction: row;
    }

    .custom-card-img {
      height: 130px !important;
      width: 130px !important;
      margin-right: 20px;
      backdrop-filter: blur(5px) saturate(100%);
      -webkit-backdrop-filter: blur(5px) saturate(100%);
      background-color: rgba(17, 25, 40, 0.6);
      border: 1px solid #05c7f2;
      background-image: url("../../../assets/images/Premio_AboutUs.svg");
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: center;
    }

    .custom-card-container {
      flex-wrap: wrap-reverse;
    }
  }
}
