.custom-about-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw !important;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../../assets/images/BackGrounds/BG_AboutUs.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#AboutLanding {
  .custom-content-section {
    justify-content: space-between;
  }

  .custom-header-content {
    margin-top: 100px;
  }

  .custom-title-span {
    margin: 0;
  }

  #AboutSection1 {
    height: auto;

    .custom-row {
      background: rgb(22, 22, 22);
      box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
      width: 1060px;
      min-height: 100%;
      padding: 30px !important;
      margin: 40px 100px;
    }

    .custom-image-container {
      background: white;
      border: 3px solid rgb(0, 175, 239);
      background-repeat: no-repeat;
      background-size: cover;
      height: inherit !important;
      width: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px 0 0 0;

      img {
        width: 100%;
      }

      .cmmidev {
        width: 60%;
      }
    }

    .custom-content {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      .custom-title-span,
      .custom-subtitle-span {
        width: 94%;
      }
    }

    .custom-card-container {
      background: rgb(15, 12, 13);
      padding: 100px 0 !important;
      flex-wrap: wrap-reverse;
      gap: 50px;
    }

    .custom-card {
      background: rgb(22, 22, 22);
      width: 40%;
      max-width: 40%;
      height: auto;
      padding: 20px !important;
      margin: 0 !important;
      border-radius: 5px;
      flex-direction: row;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.06, 1.06);
      }
    }

    .custom-card-img {
      height: 130px !important;
      width: 130px !important;
      margin-right: 20px;
      backdrop-filter: blur(5px) saturate(100%);
      -webkit-backdrop-filter: blur(5px) saturate(100%);
      background-color: rgba(17, 25, 40, 0.6);
      border: 1px solid rgb(0, 175, 239);
      background-image: url("../../../assets/images/Premio_AboutUs.svg");
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: center;
    }

    .custom-title-span {
      text-align: center;
    }

    .custom-subtitle-span {
      text-align: justify;
    }
  }
}

@media only screen and (max-width: 768px) {
  #AboutLanding {
    #AboutSection1 {
      .custom-card-container {
        flex-direction: column !important;
        flex-wrap: nowrap !important;
        padding: 0;
      }
      .custom-image-container {
        width: 100%;
        margin-bottom: 10px;
      }
      .custom-card {
        width: 90% !important;
        max-width: 90% !important;
      }
      .custom-row {
        flex-direction: column;
        width: 90%;
      }
      .custom-content {
        align-items: center;
      }
    }
  }
}
