.custom-contact-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw !important;
  // background: rgb(15, 12, 13);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../../assets/images/BackGrounds/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#ContactLanding {
  .custom-content-section {
    justify-content: space-between;
  }

  .custom-header-content {
    margin-top: 100px;
  }

  .custom-row {
    //  width: 100%;
    width: 1000px;
    height: 600px;
    padding: 0px !important;
    // margin-bottom: 100px;
  }

  .custom-title-span {
    margin: 0;
  }

  #ContactSection1 {
    height: auto !important;
    background-repeat: no-repeat;
    background-size: cover;

    .custom-form-section {
      border-radius: 5px;
      // width: 390px;
      width: 600px;
      height: 600px;
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    .custom-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .custom-button-field {
      width: 100%;
      height: 50px;
      margin: 0;
      font-size: 18px;
    }
  }

  .auxcontact {
    background: rgb(22, 22, 22);
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
    padding: 30px 30px 30px 30px;
    height: 100%;
    width: auto;
    margin: 100px;
  }
}
// .custom-dropdown-item {
//   color: black !important;
// }
