#ChooseUs {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../../assets/images/BackGrounds/BG_WhyUs.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding-right: 60px;
  display: flex;
  flex-direction: row;

  .custom-aux-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .custom-header-content {
    align-items: flex-start;
  }

  .custom-card-container {
    justify-content: space-between;
  }

  .custom-card-img {
    backdrop-filter: blur(5px) saturate(100%);
    -webkit-backdrop-filter: blur(5px) saturate(100%);
    background-color: rgba(17, 25, 40, 0.6);
    border: 1px solid #05c7f2;
    // background-image: url("../../../assets/images/Premio_AboutUs.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }

  span {
    text-align: justify;
  }
}
