#ChooseUs {
  background: #183059;
  flex-direction: row;
  padding: 30px;

  .custom-aux-image-container {
    width: auto;
    height: 100% !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .custom-aux-image {
    background: white;
    width: 320px;
    height: 320px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom-aux-content {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .custom-header-content {
    align-items: flex-start;
  }

  span {
    text-align: left;
  }
}
