* {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: white;
}

a {
  font-size: 18px;
}

span {
  text-align: center;
}

.custom-content-section {
  height: 100vh;
  width: 100%;
  padding: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.custom-header-content {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-title-span {
  color: rgb(0, 175, 239);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}

.custom-subtitle-span {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.custom-card-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

//---------------------------------------------

.custom-card {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.custom-card-content {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.custom-card-img {
  background: white;
  height: 100px !important;
  width: 100px !important;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-card-value {
  font-size: 20px;
  font-weight: 600;
}

.custom-separator {
  height: 30px;
  width: 100%;
  background: rgb(22, 22, 22);
}

.custom-row {
  height: 100%;
  width: 100%;
  padding: 0 100px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.custom-button-field {
  width: 250px;
  height: 60px;
  margin: 30px;
  color: white;
  background: rgb(0, 175, 239);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
}
