* {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: white;
}

a {
  font-size: 18px;
}

span {
  text-align: center;
}

.custom-content-section {
  height: auto;
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-header-content {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-title-span {
  color: #05c7f2;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.custom-subtitle-span {
  color: darken($color: white, $amount: 30);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.custom-card-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

//---------------------------------------------

.custom-card {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.custom-card-content {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.custom-card-img {
  background: white;
  height: 100px !important;
  width: 100px !important;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-card-value {
  font-size: 24px;
  font-weight: 600;
}
